<header>
  <nav class="nav_media">
    <img
      class="sakura_logo"
      src="../../../../assets/img/sakura_logo.png"
      alt="sakura_logo"
    />
    <div class="navbar">
      <li class="first_li hideMobile"><a href="#menu">MENU</a></li>
      <li class="first_li hideMobile">
        <a href="#locations">LOCATIONS</a>
      </li>
      <li class="first_li hideMobile"><a href="#about">ABOUT</a></li>
      <li class="first_li">
        <a class="number_background navbar_media" href="tel:0176546534">
          <img id="phone_img" src="../../../../assets/img/phone.png" alt="" />
          0176-54564534</a
        >
      </li>
    </div>
  </nav>
  <div class="sakura_ramen">
    <h1>SAKURA RAMEN</h1>
    <p class="town">THE BEST RAMEN IN TOWN</p>
  </div>
</header>
