<div>
  <h2 id="locations">
    FIND US AT
    <p id="adress">
      <img
        src="../../../../assets/img/map_marker.png"
        alt="img_map_marker"
        id="map_marker"
      />
      Kapuzinerstraße 31, München, 80337
    </p>
  </h2>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.2081517665038!2d11.561203299999999!3d48.125509099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf005672188d%3A0x3887f00928415e45!2sSakura%20Ramen!5e0!3m2!1sde!2sde!4v1733340504195!5m2!1sde!2sde"
  width="100%"
  height="500"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
>
</iframe>

<footer id="about">
  <section class="sakura_all_logo">
    <div>
      <img
        class="sakura_footer_logo"
        src="../../../../assets/img/sakura_ramen_logo_and_text.png"
        alt="img_sakura_ramen_logo_and_text"
      />
    </div>
    <div>
      <a href="https://www.tripadvisor.de/">
        <img
          class="footer_icon"
          src="../../../../assets/img/tripadvisor_logo.png"
          alt="img_tripadvisor_logo"
        />
      </a>
      <a href="https://www.facebook.com/www.startseite.de/?locale=de_DE">
        <img
          class="footer_icon"
          src="../../../../assets/img/facebook_logo.png"
          alt="img_facebook"
        />
      </a>
      <a href="https://www.instagram.com/">
        <img
          class="footer_icon"
          src="../../../../assets/img/instagrram_logo.png"
          alt="img_instagram"
        />
      </a>
    </div>
    <div><a class="imprint" href="imprint">IMPRINT</a></div>
  </section>
</footer>
