<footer id="about">
  <section class="sakura_all_logo">
    <div>
      <img
        class="sakura_footer_logo"
        src="../../../../assets/img/sakura_ramen_logo_and_text.png"
        alt="img_sakura_ramen_logo_and_text"
      />
    </div>
    <div>
      <a href="https://www.tripadvisor.de/">
        <img
          class="footer_icon"
          src="../../../../assets/img/tripadvisor_logo.png"
          alt="img_tripadvisor_logo"
        />
      </a>
      <a href="https://www.facebook.com/www.startseite.de/?locale=de_DE">
        <img
          class="footer_icon"
          src="../../../../assets/img/facebook_logo.png"
          alt="img_facebook"
        />
      </a>
      <a href="https://www.instagram.com/">
        <img
          class="footer_icon"
          src="../../../../assets/img/instagrram_logo.png"
          alt="img_instagram"
        />
      </a>
    </div>

    <div><a class="imprint" href="imprint">IMPRINT</a></div>
    
  </section>
</footer>
