<section id="our_menu_background">
    <div id="overlay">
      <h2>Our Menu</h2>
      <div class="menu_item">
        <img class="img_order" src="../../../assets/img/R1.png" alt="img_r1" />
        <div class="our_menu_text">
          <h3>Tonkotsu Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>

      <div id="img_r2" class="menu_item">
        <img class="img_order" src="../../../assets/img/R2.png" alt="img_r2" />
        <div class="our_menu_text">
          <h3>Spicy Miso Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>

      <div class="menu_item">
        <img class="img_order" src="../../../assets/img/R3.png" alt="img_r3" />
        <div class="our_menu_text">
          <h3>Shio Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>
    </div>
  </section>