<section id="our_menu_background">
    <div id="overlay">
      <h2>Our Menu</h2>
      <div class="menu_item">
        <img class="img_order" src="../../../assets/img/R1.png" alt="img_r1" />
        <div class="our_menu_text">
          <h3>Tonkotsu Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>

      <div id="img_r2" class="menu_item">
        <img class="img_order" src="../../../assets/img/R2.png" alt="img_r2" />
        <div class="our_menu_text">
          <h3>Spicy Miso Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>

      <div class="menu_item">
        <img class="img_order" src="../../../assets/img/R3.png" alt="img_r3" />
        <div class="our_menu_text">
          <h3>Shio Ramen</h3>
          <li class="our_menu_price">
            Chicken <span class="price">11.95€</span>
          </li>
          <li class="our_menu_price">
            Beef <span class="price">12.95€</span>
          </li>
          <li class="our_menu_price">
            Shrimp <span class="price">13.95€</span>
          </li>
        </div>
      </div>
    </div>
  </section>

  <div>
    <h2 id="locations">
      FIND US AT
      <p id="adress">
        <img
          src="../../../../assets/img/map_marker.png"
          alt="img_map_marker"
          id="map_marker"
        />
        Kapuzinerstraße 31, München, 80337
      </p>
    </h2>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.2081517665038!2d11.561203299999999!3d48.125509099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf005672188d%3A0x3887f00928415e45!2sSakura%20Ramen!5e0!3m2!1sde!2sde!4v1733340504195!5m2!1sde!2sde"
    width="100%"
    height="500"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>