<main>
<h2>HOW TO ORDER</h2>
      <section class="how_to_order">
        <div class="hto_img_container">
          <img class="hto_img" src="../../../assets/img/noodle.png" alt="img_noodle" />

          <span class="hto_text"
            >Pick your <br />
            noodle
          </span>
        </div>
        <div class="hto_img_container">
          <img class="hto_img" src="../../../assets/img/broth.png" alt="img_broth" />

          <span class="hto_text"
            >Pick your <br />
            broth</span
          >
        </div>
        <div class="hto_img_container">
          <img class="hto_img" src="../../../assets/img/egg.png" alt="img_egg" />

          <span class="hto_text"
            >Add your <br />
            toppings
          </span>
        </div>
      </section>
    </main>